<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WHAT IS SEO?</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">
  
    <link href="css" rel="stylesheet" type="text/css">
    

</head>

<body>
 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    TENAJEROS, JULES ANDREW BSIT-3SE
                </a>
            </div>
            <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    <!--     <a href="index2.html">ASSIGNMENT 1</a>
                    </li>
                    <li>
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#">ASSIGNMENT 2</a>
                    </li>

                    -->
                    <li class="dropdown">
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ASSIGNMENTS <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="index.html#">What is SEO</a></li>
                            <li><a href="index2.html#">SEO Strategies & SEM</a></li>
                            <li><a href="index3.html#">ON-PAGE VS OFF-PAGE SEO</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>

        <div class="header-content">
            <div class="header-content-inner">

                <h2>The difference between</h2>
                <h1>SEO and SEM</h1>
                <p>SEO is a part of SEM because business owners uses marketing strategies to increase their contents visibility upon searching the product. SEM involves strategies like PPC.
                SEM uses SEO tactics for advertising campaigns and activities.</p>
                
            </div>
        </div>
    </header>

<div class="page-bg"></div><!--
    <section class="intro" style="
    height: 540px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 class="section-heading">SEO Strategies</h2>
                </div>
            </div>
        </div>
    </section>
    -->
<!-- Content 2 -->
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="section-header">Important SEO Expecations</h2>
                     <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><h2>LINKING STRATEGY</h2></div>
      <div class="collapsible-body"><span><h3>Link building remains the cornerstone of most search engine optimization efforts.Links have the strongest association with higher search rankings of all the (known) attributes used by Google in its core ranking algorithm.But one of the most common issues for small businesses is the struggle to build quality links.</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>DOMAIN NAME STRATEGY</h2></div>
      <div class="collapsible-body"><span><h3>A kind of strategy that thinks about a unique and simple way of naming the domain name.These domain names could potentially deliver a higher CTR and higher total clicks, with the exception being when the competition is an extremely well known and established brand with a huge trust factor.</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>KEYWORD STRATEGY</h2></div>
      <div class="collapsible-body"><span><h3>Keyword Strategies are essential to developing winning search engine marketing campaigns. Your keyword strategy should involve selecting high-performing keywords that drive relevant traffic to your business. Choosing the right keywords for advertising can make all the difference in your campaigns, determining how well your advertisements rank on Google and other search engine platforms.</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>TITLE TAGS STRATEGY</h2></div>
      <div class="collapsible-body"><span><h3>Title tags are also part of what makes people decide whether to visit your site when it shows up in the search results. The title tag should contain important keywords to help the search engine determine what the page is about.</h3></span></div>
    </li>
     <li>
      <div class="collapsible-header"><h2>SEARCH ENGINE INDEXING STRATEGY</h2></div>
      <div class="collapsible-body"><span><h3>Search engine indexing is the process of a search engine collecting, parses and stores data for use by the search engine. The actual search engine index is the place where all the data the search engine has collected is stored. It is the search engine index that provides the results for search queries, and pages that are stored within the search engine index that appear on the search engine results page.</h3></span></div>
    </li>
     <li>
      <div class="collapsible-header"><h2>ALT TAGS STRATEGY</h2></div>
      <div class="collapsible-body"><span><h3>It is a simple bit of HTML code that essentially describes an image that appears on a web page so that the user still knows what the image represents if they are visually impaired or if the picture simply doesn’t display correctly.Alt text is not going to suddenly help a site climb to the top of search results, instead it is one of a number on-page factors that contribute to improved SEO performance. Think of it as good housekeeping.</h3></span></div>
    </li>
     <li>
      <div class="collapsible-header"><h2>META DESCRIPTION TAG STRATEGY</h2></div>
      <div class="collapsible-body"><span><h3>The meta description tag serves the function of advertising copy. It draws readers to a website from the SERP, and thus is a very visible and important part of search marketing. Crafting a readable, compelling description using important keywords can improve the click-through rate for a given webpage.</h3></span></div>
    </li>
  </ul>
                    
                </div>    
                            
                
            </div>
        </div>
    </section> 


    <section class="content" style="    height: 500px;">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">                    
                </div>
                <div class="col-sm-8">
                	<h2 class="section-header">IS IT POSSIBLE TO COMBINE STRATEGIES?IF YES, WHICH STRATEGIES WOULD YOU LIKE TO IMPLEMENT? WHY?</h2>
                	<h3>Yes, it is possible to combine strategies to increase traffic and interactions from viewers. It would be relevant to use strategies like search engine indexing strategy, domain name strategy, and linking strategy because it is where a person like me would likely visit this pages through these strategies. I find them effective to people I know who are in search of a website just like myself who utilize these features. </h3>                	
                </div>                                
            </div>
        </div>
    </section>

	   

    <!-- Promos -->
	<!-- /.container-fluid -->

	<!-- Content 3 -->
     
    
	
    

    <!-- jQuery -->
    <script src="jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="custom.js"></script>

    <script type="text/javascript">$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
          


</body></html>