<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WHAT IS SEO?</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">
  
    <link href="css" rel="stylesheet" type="text/css">
    

</head>

<body>
 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    TENAJEROS, JULES ANDREW BSIT-3SE
                </a>
            </div>
            <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    <!--     <a href="index2.html">ASSIGNMENT 1</a>
                    </li>
                    <li>
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#">ASSIGNMENT 2</a>
                    </li>

                    -->
                    <li class="dropdown">
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ASSIGNMENTS <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="index.html#">What is SEO</a></li>
                            <li><a href="index2.html#">SEO Strategies & SEM</a></li>
                            <li><a href="index3.html#">ON-PAGE VS OFF-PAGE SEO</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>

        <div class="header-content">
            <div class="header-content-inner">

                <h1>What is Search Engine Optimization?</h1>
                <p>It is a process, rules, methodology, techniques all with the same purpose of allowing the web site appear in search engines ranking high based on its relevance</p>
                
            </div>
        </div>
    </header>
<div class="page-bg"></div>
	<!-- Intro Section -->
    <section class="intro" style="
    height: 540px;
">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	
                    <h2 class="section-heading">Guidelines on how to read Search Engine Result Page.</h2>
                    <p class="text-light">There are usually two parts shown in a search engine result particularly the organic or natural results and the PPC or the pay per click search results</p>
                    <p>Commonly, you would want to look for results at the organic results where search bots analyzes this links to relate the website to your query</p>
                    <p>Sometimes PPC ads are useful when you would want to buy something. PPC ads are usually placed on top to attract customers to buy or access the website</p>
                </div>
            </div>
        </div>
    </section>

	<!-- Content 1 -->
    <section class="content" style="
    height: 500px;
">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    
                </div>
                <div class="col-sm-8">
                	<h2 class="section-header">How SEO Affects Business</h2>
                	<h3>SEO allows website of business owners to increase recogition of their products when shown on top of the search results yielding to more customer interactions increasing likelihood of transactions. </h3>
                	
                </div>                
                
            </div>
        </div>
    </section>

	<!-- Content 2 -->
     <section class="content content-2">
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                	<h2 class="section-header">Important SEO Expecations</h2>
                     <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><h2>First</h2></div>
      <div class="collapsible-body"><span><h3>SEO is ever changing, knowing this makes us have opportunities to be number one on SEO results. We can create a good aproach to client's marketing campaign. Small business owners can use google search engine to bear changes in their ranking in results</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Second</h2></div>
      <div class="collapsible-body"><span><h3>Long searches can sometimes have fewer results but has more value than generic phrases. A client understands more about user intent so we can set realistic keywords to target based on their intent</h3></span></div>
    </li>
    <li>
      <div class="collapsible-header"><h2>Third</h2></div>
      <div class="collapsible-body"><span><h3>SEO must remain in small business marketing plan. This can be an investment but not permanently placed or does its job. Business owners must maintain relationship to the clinet using tactics in SEO increasing client retention.  </h3></span></div>
    </li>
  </ul>
                	
                </div>    
                            
                
            </div>
        </div>
    </section>    

    <!-- Promos -->
	<!-- /.container-fluid -->

	<!-- Content 3 -->
     
    
	
    

    <!-- jQuery -->
    <script src="jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="custom.js"></script>

    <script type="text/javascript">$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
          


</body></html>