<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WHAT IS SEO?</title>

    <link href="bootstrap.min.css" rel="stylesheet">

    <link href="custom.css" rel="stylesheet">
  
    <link href="css" rel="stylesheet" type="text/css">
    

</head>

<body>
 <!-- Navigation -->
    <nav id="siteNav" class="navbar navbar-default navbar-fixed-top affix-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    TENAJEROS, JULES ANDREW BSIT-3SE
                </a>
            </div>
            <!-- Navbar links -->
           <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                    <!--     <a href="index2.html">ASSIGNMENT 1</a>
                    </li>
                    <li>
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#">ASSIGNMENT 2</a>
                    </li>

                    -->
                    <li class="dropdown">
                        <a href="https://www.quackit.com/html/templates/download/bootstrap/business-2/index.html#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ASSIGNMENTS <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-us">
                            <li><a href="index.html#">What is SEO</a></li>
                            <li><a href="index2.html#">SEO Strategies & SEM</a></li>
                            <li><a href="index3.html#">ON-PAGE VS OFF-PAGE SEO</a></li>
                        </ul>
                    </li>
                </ul>
                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>

	<!-- Header -->
    <header>

        <div class="header-content">
            <div class="header-content-inner">
                <h2>The difference between</h2>
                <h1>ON-PAGE SEO and OFF-PAGE SEO</h1>
                <p>ON-PAGE SEO is the act of optimizing different parts of your web site that affect your search engine rankings. It's stuff that you have control over and can change on your own website. While, the OFF-PAGE SEO focuses on increasing the authority of your domain through the act of getting links from other websites.</p>
                
            </div>
        </div>
    </header>
<div class="page-bg"></div>
	<!-- Intro Section -->
    <section class="intro" style="
    height: 540px;
">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                	
                    <h2 class="section-heading">SEO guides for ON-PAGE techniques</h2>
                    <p class="text-light">Improve user experience.

Make sure your website is responsive and broken links are kept to a minimum.</p>
                    <p>Ensure that readers coming from search engines spend a lot of time on your site

If they hit the back button quickly, your ranking will drop quickly too. Make sure your site is maintaining a standard of professionalism. Use proper copywriting techniques to make people stick around.</p>
                    <p>Create good content

Try using benefit-driven sub-headings to be more engaging. Don't write fluff. Seek feedback and improve.

Today</p>
                </div>
            </div>
        </div>
    </section>


     <section class="header-content">
        <div class="header-content-inner">
            <div class="container" style="    margin-top: 50px;    margin-bottom: 50px;">
            <div class="row">
                <div class="col-sm-8">
                	<h2 class="section-header">SEO guides for OFF-PAGE techniques</h2>
                     <ul class="collapsible" data-collapsible="accordion">
                        <li>
                          <div class="collapsible-header"><h2>Social Media Engagement</h2></div>
                          <div class="collapsible-body"><span><h3>A major Off-page SEO technique is social media engagement. If you want to make your business, website or blog popular, engage with people on multiple social media platforms. Social media presence will help grow your business and also help you get more back links.</h3></span></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><h2>Social Bookmarking Sites</h2></div>
                          <div class="collapsible-body"><span><h3>
                          Social bookmarking sites are one of the best platforms to promote your website. When you bookmark your webpage or blog post on popular social bookmarking websites, you gain high traffic to your webpage or blog.</h3></span></div>
                        </li>
                        <li>
                          <div class="collapsible-header"><h2>Submission</h2></div>
                          <div class="collapsible-body"><span><h3>Forum 
                          Participate in search forums which are related to your website and business and make a connection with that community. Reply to threads, answer people's questions and give your suggestions and advice. Make use of "Do-Follow" forums.</h3></span></div>
                        </li>
                      </ul>
                	
                </div>    
                            
                </div>
            </div>
        </div>
    </section>    

   <div class="header-content">
            <div class="header-content-inner">
                 <section class="content content-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2 class="section-header">SEO guides for OFF-PAGE techniques</h2>
                                     <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header"><h2>BOOST SITE SPEED</h2></div>
                      <div class="collapsible-body"><span><h3>Google has stated on the record that page loading speed is an SEO ranking signal. You can boost your site speed by using a CDN, compressing images, and switching to faster hosting.Make sure your site doesn’t take more than 4 seconds to load: MunchWeb found that 75% of users wouldn’t re-visit a site that took longer than 4 seconds to load.</h3></span></div>
                    </li>
                    <li>
                      <div class="collapsible-header"><h2>SEO-FRIENDLY URLS</h2></div>
                      <div class="collapsible-body"><span><h3>Google has stated that the first 3-5 words in a URL are given more weight.So make your URLs short and sweet.And always include your target keyword in your URL.</h3></span></div>
                    </li>
                    
                    <li>
                      <div class="collapsible-header"><h2>USE SOCIAL SHARING BUTTONS</h2></div>
                      <div class="collapsible-body"><span><h3>Social signals may not play a direct role in ranking your site. But social shares generate more eyeballs on your content.And the more eyeballs you get, the more likely someone is to link to you. So don’t be shy about placing social sharing buttons prominently on your site.In fact, a study by BrightEdge found that prominent social sharing buttons can increase social sharing by 700%.</h3></span></div>
                    </li>
                  </ul>
                                    
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
        </div>
	
    

    <!-- jQuery -->
    <script src="jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="jquery.easing.min.js"></script>
    
    <!-- Custom Javascript -->
    <script src="custom.js"></script>

    <script type="text/javascript">$(document).ready(function(){
    $('.collapsible').collapsible();
  });</script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
          


</body></html>